*{
    margin: 0;
    padding: 0; 
}
header{
    background-color: black;
    color: white;
    padding: 25px;
    font-size: 25px;
    text-align: center;
    z-index: 10;
    position: sticky;
}
.mainContainer{
    margin: 10px;
    height: 150vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.aboutMe{
    width: 50vh;
    height:50vh;
    margin: 20px; 
    padding: 20px; 
}
#aboutMePara{
    font-size: 1.5rem;
}
.picAndLinks{
    /* width: 50vh;
    height:50vh; */
    margin: 20px;
    padding: 20px;
}
.myPic{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 50px 0px 50px; */
}
.myLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 50px;
}
.copyright{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    padding: 50px;
}
.copyright a{
    color: inherit;
    text-decoration: none;
}