@import "tailwindcss";

@layer theme {
  :root {
    --color-bg: #f9fafb;
    --color-text-primary: #111827;
    --color-text-secondary: #4b5563;
    --color-primary: #0c831f;
    --color-secondary: #085c14;
    --color-accent: #f7cb45;
  }

  .dark {
    --color-bg: #1f2937;
    --color-text-primary: #f9fafb;
    --color-text-secondary: #d1d5db;
    --color-primary: #4ade80;
    --color-secondary: #16a34a;
    --color-accent: #facc15;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    font-family: theme('fontFamily.sans');
    transition: color 0.3s, background-color 0.3s;
  }
}
